* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --blue-primary: #144995;
  --blue-dark: #283a57;
  --blue-secondary: #415574;
  --blue-medium: #5075a6;
  --blue-soft: #7393c3;

  --bg-light: #f4f7fc;
  --bg-section: #dce7f4;
  --bg-accent: #98b3d9;
  --bg-gradient-light: #bbcde5;

  --text-dark: #121e33;
  --text-secondary: #747d8e;
  --text-muted: #9ca3b0;
}
/* GRID - min container  ========================*/

.grid-container {
  display: grid;

  grid-template-areas:
    "navbar navbar"
    "hero hero"
    "card card"
    "tab-title tab-title"
    "tab tab"
    "banner banner"
    "footer footer"
    "header-bottom header-bottom";
}

.grid-item {
}
/* FLEXBOX - Flex-navbar  ========================*/

.flex-navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-light);
  position: fixed;
  width: 100%;
  z-index: 1;
  box-shadow: 1px 0px 6px var(--text-dark);
}
.outter-nav {
  margin: 15px 25px;
}
.logo img {
  height: 65px;
}
.inner-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin: 10px 25px;
}

.inner-nav-item {
  margin: 15px 10px;
}
.inner-nav-item a {
  font-weight: 800;

  color: var(--blue-soft);
}
.inner-nav-item a:hover {
  color: var(--blue-primary);
}
.inner-nav-item img {
  height: 20px;
}
.flex-button {
  display: flex;
  gap: 5px;
}

.inner-nav-item button {
  margin-top: -8px;
  padding: 15px 15px;
  border-radius: 10px;

  font-weight: 700;
  background-color: var(--blue-primary);
  color: var(--bg-light);
  border-style: none;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}
.inner-nav-item button:hover {
  box-shadow: 3px 0px 6px var(--blue-primary);
  background-color: var(--blue-dark);
  transform: scale(1.1);
}
.active-page a{
  color: var(--blue-primary);
}
#menu__toggle {
  position: absolute;
  left: -9999px; /* moves horizontal navbar off-screen */
}

/* GRID - grid-hero  ========================*/

.grid-hero {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  min-height: 75vh;
  padding-top: 60px;
  margin-top: 75px;
  background-image: url(../assets/images/hero-background-image.jpg);
  background-size: cover; /* Ensures the image covers the element */
  background-position: center; /* Keeps the image centered */
  background-repeat: no-repeat; /* Prevents tiling */
}
.hero-item {
  padding: 20px 20px;
  margin-left: 25px;
}

.hero-item > h1 {
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 35px;
  color: var(--blue-dark);

  border-radius: 8px;
  background: var(--bg-light);
  padding: 15px 15px;
  opacity: 0.8;
  animation: fadeIn 3s ease-in-out;

}
.hero-item > p {
  font-weight: 700;
  margin-bottom: 35px;
  color: var(--bg-light);
  padding: 15px 15px;
  /* background: var(--blue-secondary); */
  background: var(--blue-secondary);
  border-radius: 8px;
  opacity: 0.8;
  animation: fadeIn 2s ease-in-out;

}

.hero-bt-1 button {
  margin: 15px 15px;
  padding: 15px 25px;
  border-radius: 5px;

  font-weight: 700;
  background-color: var(--blue-primary);
  color: var(--bg-light);
  border-style: none;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  animation: fadeIn 1s ease-in-out;
}
.hero-bt-1 button:hover {
  background-color: var(--bg-light);
  color: var(--blue-secondary);
  box-shadow: 4px 0px 6px var(--blue-primary);
  transform: scale(1.1);
 

}

.hero-bt-2 button {
  margin: 15px 15px;
  padding: 15px 15px;
  border-radius: 5px;

  font-weight: 700;
  background-color: var(--bg-light);
  color: var(--blue-secondary);
  border-style: none;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  animation: fadeIn 1s ease-in-out;
}
.hero-bt-2 button:hover {
  background-color: var(--blue-secondary);
  color: var(--bg-light);
  box-shadow: 3px 0px 6px var(--bg-light);
  transform: scale(1.1);
}

/* GRID - grid-card  ========================*/

.grid-card {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-columns: auto;
  background-color: var(--bg-section);
  box-shadow: 1px 0px 6px var(--blue-secondary);
  animation: fadeIn 1s ease-in-out;
}
.card-item {
  text-align: center;
  padding: 20px 20px;
  height: 250px;
}
.card-item > img {
  height: 90px;
}

.card-item > h2 {
  color: var(--blue-primary);
  font-weight: 700;
  margin-top: 10px;
}
.card-item > p {
  color: var(--blue-dark);
  font-weight: 700;
  margin-top: 10px;
}

/* FLEXBOX - tab-tile  ========================*/
.tab-title {
  display: flex;
  justify-content: center;
}
.tab-title-item {
  margin: 10px 10px;
  color: var(--blue-primary);
}

/* FLEXBOX - flex-tab  ========================*/
.flex-tab {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 20px 20px;
  margin-bottom: 55px;
}
.tab-item {
  flex: 10%;
  background-color: var(--bg-section);
  padding: 25px 35px;
  height: 200px;
  border-radius: 5px;
  box-shadow: 1px 0px 6px var(--blue-secondary);
  transition: transform 0.5s ease-in-out;

}
.tab-item:hover {
  transform: scale(1.1);
  box-shadow: 1px 0px 6px var(--blue-primary);

}
.tab-item > p {
  background-color: var(--bg-section);
  margin-top: 25px;
  margin: 15px 15px;
  font-weight: 700;
  color: var(--text-dark);
}

.flex-number {
  display: flex;
}

.flex-number > h3 {
  margin-top: 10px;
  color: var(--blue-primary);
}

.tab-number {
  text-align: center;
  color: var(--bg-light);
  background-color: var(--blue-primary);
  margin: 5px 5px;
  padding: 5px 5px;
  width: 50px;
  /* border-radius: 50%; */
}

/* FLEXBOX - flex-banner  ========================*/

.flex-banner {
  display: flex;
  /* flex-wrap: wrap; */
  padding: 35px 35px;
  background-image: url(../assets/images/image-bottom-banner.jpg);
  background-size: cover; /* Ensures the image covers the element */
  background-position: center; /* Keeps the image centered */
  background-repeat: no-repeat; /* Prevents tiling */
  height: 50vh;
}
.banner-item {
  
  display: block;
  background-color: var(--bg-light);
  opacity: 0.9;
  border-radius: 10px;
  padding: 5px 5px;
  margin: 5px 5px;
  height: 200px;
}
.banner-item img {
  height: 20px;
}
.banner-item > h2 {
  margin: 10px 10px;
  color: var(--blue-dark);
}
.button-banner {
  display: flex;
  gap: 5px;
}
.banner-item button {
  margin-top: 5px;
  margin: 10px 10px;
  padding: 10px 20px;
  border-radius: 10px;

  font-weight: 700;
  background-color: var(--blue-primary);
  color: var(--bg-light);
  border-style: none;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}
.banner-item button:hover {
  background-color: var(--text-dark);
  color: var(--bg-light);
  box-shadow: 4px 0px 6px var(--blue-primary);
  transform: scale(1.1);
}
.paragraph-banner {
  display: flex;
  gap: 5px;
}
.paragraph-banner p {
  font-weight: 700;
  color: var(--blue-dark);
  margin-top: 5px;
}

/* FLEXBOX   footer  =========================*/

.footer {
  display: flex;
  justify-content: end;

  padding: 5px 5px;
  background-color: var(--blue-dark);
}
.footer-list {
  margin: 15px 25px;
  padding: 5px 5px;
}
.footer-logo img {
  height: 200px;
}
.footer-item h2 {
  font-weight: 500;
  font-size: 20px;
  color: var(--bg-light);
}
.footer-item > li {
  margin: 10px 10px;
  color: var(--bg-light);
}

.footer-item a {
  color: var(--bg-light);
}
.footer-item a:hover {
  color: var(--blue-soft);
}
.footer-icons {
  display: flex;
  gap: 10px;
}
.footer-icons img {
  height: 30px;
  transition: transform 0.5s ease-in-out;
}
.footer-icons img:hover {
  height: 30px;
  transform: scale(1.5);
  box-shadow: 3px 0px 6px var(--bg-light);
  border-radius: 50%;
}

/* FLEXBOX   header-bottom  =========================*/
.header-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  font-weight: 500;
  font-size: 12px;
  padding: 0px 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--blue-soft);
  height: 100px;
  width: 100%;
  padding-bottom: 15px 15px;
}
.outter-bottom {
  display: flex;
  flex-wrap: wrap;
}
.outter-bottom > img {
  margin-right: 5px;
  height: 20px;
  border-radius: 50%;
}
.outter-bottom a {
  color: var(--text-dark);
}
.inner-bottom {
  display: flex;
  flex-wrap: wrap;
}
.inner-bottom-item {
  display: flex;
  margin: 0px 10px;
  color: var(--text-dark);
}
.inner-bottom-item > img {
  margin-right: 5px;
  height: 20px;
  border-radius: 50%;
}


/* KEYFRAMES ========================*/
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* MEDIA QUERIES  ========================*/

@media (max-width: 961px) {
  .inner-nav-item {
    text-align: center;
    padding-top: 15px;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .inner-nav {
    visibility: visible;
    left: 0;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
    margin-top: 15px;
    cursor: pointer;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--blue-medium);
    transition-duration: 0.25s;
  }

  .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  #menu__toggle {
    opacity: 0;
  }
  .inner-nav {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 200px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    background-color: var(--bg-light);
    box-shadow: 1px 0px 6px var(--blue-secondary);
    transition-duration: 0.25s;
    z-index: 1;
  }

  .grid-card {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-auto-columns: auto;
  }
  .card-item {
    text-align: center;
  }

  .tab-item {
    flex: 100%;
  }

  .header-bottom {
    padding-bottom: 55px;
  }

  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    flex-direction: column;

    padding: 10px 10px;
    background-color: var(--blue-dark);
  }
  .footer-list {
    margin: 10px 10px;
    padding: 5px 5px;
  }
}
